<div class="my-4">
  <h1>Contact List</h1>

  <% if (msg.length != 0) { %>
  <div class="alert alert-success" role="alert"><%= msg %></div>
  <% } %>

  <div class="mt-4">
    <a href="/contact/add" class="btn btn-primary mb-4">Add data</a>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">No</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Phone</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <% if (contacts.length === 0) { %>
        <tr>
          <td colspan="5">
            <div class="alert alert-danger mt-4" role="alert">Data Empty</div>
          </td>
        </tr>
        <% }else{ %>
        <!-- inisiasi -->
        <% contacts.forEach((contact, index) => { %>
        <tr>
          <th scope="row"><%= ++index %></th>
          <td><%= contact.name %></td>
          <td><%= contact.email %></td>
          <td><%= contact.phone %></td>
          <td>
            <div class="d-flex gap-2">
              <a href="/contact/<%= contact.name %> " class="btn btn-success"
                >Detail</a
              >
              <a
                href="/contact/delete/<%= contact.name %> "
                class="btn btn-danger"
                >Delete</a
              >
              <a
                href="/contact/edit/<%= contact.name %> "
                class="btn btn-primary"
                >Edit</a
              >
            </div>
          </td>
        </tr>
        <% }) %> <% } %>
      </tbody>
    </table>
  </div>
</div>
